body {
    background-color: black !important;
    color: white;
}

.container {
    width: 75%;
    text-align: center !important;
}

h2 {
    font-weight: bold;
    color: red;
}

label {
    color: red;
}
